<div class="container">
  <div class="container-fluid mt-4 my-4">
    <img src="../../../assets/mainpic.jpeg" />
    <div class="comment">
      <h1>We offer 100% job guarantee</h1>
      <h4>To know more about the technogies we train on,explore our page</h4>
    </div>
  </div>

  <div
    class="text-center"
    style="
      font-weight: bolder;
      color: brown;
      text-decoration: underline;
      margin-top: 40px;
    "
  >
    <h2>Services We Provide</h2>
  </div>

  <div class="row mt-4 my-4 d-flex justify-content-center flex-wrap">
    <div class="col-3 box">
      <h3>Placement</h3>
      <p>We provide 100% placements guarantee</p>
    </div>
    <div class="col-3 box">
      <h3>Placement Assistance</h3>
      <p>We asses you through the steps during placements</p>
    </div>
    <div class="col-3 box">
      <h3>Mock Interview</h3>
      <p>We conduct mock interviews for your experience</p>
    </div>
    <div class="col-3 box">
      <h3>Training</h3>
      <p>
        We will train you and provide resources on the topic of your interest
      </p>
    </div>
  </div>
</div>
