<div class="container mt-4 my-4 d-flex flex-wrap justify-content-center">
  <h3 style="font-weight: bolder; color: saddlebrown">
    We Provide Training on the following Topics
  </h3>
  <div class="row d-flex justify-content-center">
    <div class="col-3 box box1 m-4">
      <img src="../../../assets/java-removebg-preview.png" />
      <h3>Java</h3>
    </div>
    <div class="col-3 box box2 m-4">
      <img src="../../../assets/javascript-removebg-preview.png" />
      <h3>JavaScript</h3>
    </div>
    <div class="col-3 box box3 m-4">
      <img src="../../../assets/python-removebg-preview.png" />
      <h3>Python</h3>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-3 box box4 m-4">
      <img src="../../../assets/html-removebg-preview.png" />
      <h3>HTML</h3>
    </div>
    <div class="col-3 box box5 m-4">
      <img src="../../../assets/css-removebg-preview.png" />
      <h3>CSS</h3>
    </div>
    <div class="col-3 box box6 m-4">
      <img src="../../../assets/dbms-removebg-preview.png" />
      <h3>DBMS</h3>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-3 box box7 m-4">
      <img src="../../../assets/react-removebg-preview.png" />
      <h3>React</h3>
    </div>
    <div class="col-3 box box8 m-4">
      <img src="../../../assets/node_js-removebg-preview.png" />
      <h3>Node Js</h3>
    </div>
  </div>
</div>
