<div class="container-fluid bg-dark footer">
  <div class="col-5 p-2 footer1">
    <img src="../../../assets/brand.png" style="width: 140px; height: 60px" />
    <p>
      To know more about us visit us at facebook instagram and you also contact
      us through whatsapp
    </p>
    <div class="d-flex footer2">
      <a><i class="bi bi-facebook m-2"></i></a>
      <a><i class="bi bi-instagram m-2"></i></a>
      <a><i class="bi bi-whatsapp m-2"></i></a>
    </div>
  </div>
  <div class="col-2 footer3">
    <h6 style="font-weight: bolder; color: brown; margin-top: 10px">
      USEFUL LINKS
    </h6>

    <ul class="navbar-nav ms-auto d-flex flex-column">
      <li class="nav-item footer4">
        <a
          class="nav-link active"
          routerLink="shared/home"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
          aria-current="page"
          href="#"
          >Home</a
        >
      </li>
      <li class="nav-item footer4">
        <a
          class="nav-link"
          routerLink="shared/about-us"
          routerLinkActive="active-link"
          href="#"
          >About</a
        >
      </li>
      <li class="nav-item footer4">
        <a
          class="nav-link"
          routerLink="shared/courses"
          routerLinkActive="active-link"
          href="#"
          >Courses</a
        >
      </li>
      <li class="nav-item footer4">
        <a
          class="nav-link"
          routerLink="shared/services"
          routerLinkActive="active-link"
          href="#"
          >Services</a
        >
      </li>
      <li class="nav-item footer4">
        <a
          class="nav-link"
          routerLink="shared/contact"
          routerLinkActive="active-link"
          href="#"
          >Contact</a
        >
      </li>
    </ul>
  </div>
  <div class="col-3 footer1">
    <h6 style="font-weight: bolder; color: brown; margin-top: 10px">
      USEFUL LINKS
    </h6>
    <pre>
O.U.Colony,near healthcare clinic
Shaikpet,
Heyderabad,500008
     </pre
    >
    <p>
      <span><b>Phone:</b></span> +91 7995169273
    </p>
    <p>
      <span><b>Email:</b></span> skilloopz@gmail.com
    </p>
  </div>
</div>
