.container1 {
  width: 400px;
}

.primary-box {
  background: url("../../../assets/white_bckground.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
}

label {
  font-weight: bolder;
  color: black;
}

@media only screen and (max-width: 450px) {
  .container1 {
    width: 300px;
  }
}
