<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid d-flex justify-content-around">
    <a class="navbar-brand" href="#">
      <img src="../../../assets/brand.png" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse ms-auto" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a
            class="nav-link active"
            routerLink="shared/home"
            routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: true }"
            aria-current="page"
            href="#"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="shared/about-us"
            routerLinkActive="active-link"
            href="#"
            >About</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="shared/courses"
            routerLinkActive="active-link"
            href="#"
            >Courses</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="shared/services"
            routerLinkActive="active-link"
            href="#"
            >Services</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="shared/contact"
            routerLinkActive="active-link"
            href="#"
            >Contact</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
