<div class="container">
  <div class="container-fluid mt-4 my-4">
    <img src="../../../assets/training.jpeg" />
  </div>
  <div class="text-center">
    <h2
      style="
        font-weight: bolder;
        color: brown;
        text-decoration: underline;
        font-style: italic;
      "
    >
      ABOUT US
    </h2>
    <pre style="font-weight: bolder; color: saddlebrown; font-size: 15px">
      Salary based training for JAVA and Python , will be placed in best company with
      great package with in 3 months

      We will provide jobs for IT and Non-IT, for all degrees and for all years passed
      outs

      We provide both online and offline training .To know more about the 
      technologies read more
    </pre>
  </div>

  <!--worksapce-->

  <div class="text-center mt-4 my-4">
    <h2
      style="
        font-weight: bolder;
        color: brown;
        text-decoration: underline;
        font-style: italic;
      "
    >
      Our WorkSpace
    </h2>
    <div class="row d-flex justify-content-center">
      <div class="col-4 box box1 m-2">
        <img src="../../../assets/workspace1.jfif" />
      </div>
      <div class="col-4 box box2 m-2">
        <img src="../../../assets/workspace2.jfif" />
      </div>
      <div class="col-4 box box3 m-2">
        <img src="../../../assets/workspace3.jfif" />
      </div>
    </div>

    <div class="row d-flex justify-content-center">
      <div class="col-4 box box4 m-2">
        <img src="../../../assets/workspace4.jfif" />
      </div>
      <div class="col-4 box box5 m-2">
        <img src="../../../assets/workspace5.jfif" />
      </div>
      <div class="col-4 box box6 m-2">
        <img src="../../../assets/workspace6.jfif" />
      </div>
    </div>

    <div class="row d-flex justify-content-center">
      <div class="col-4 box box7 m-2">
        <img src="../../../assets/workspace7.jfif" />
      </div>
      <div class="col-4 box box8 m-2">
        <img src="../../../assets/workspace8.jfif" />
      </div>
      <div class="col-4 box box9 m-2">
        <img src="../../../assets/workspace9.jfif" />
      </div>
    </div>

    <div class="row d-flex justify-content-center">
      <div class="col-4 box box10 m-2">
        <img src="../../../assets/workspace10.jfif" />
      </div>
      <div class="col-4 box box11 m-2">
        <img src="../../../assets/workspace11.jfif" />
      </div>
    </div>
  </div>
</div>
