.carousel-item {
  border-radius: 10px;
  overflow: hidden;
}

.carousel-item img {
  border-radius: 40px !important;
}

.cld1 {
  color: red;
  font-weight: bolder;
  font-size: 30px;
}
.cld2 {
  color: black;
  font-weight: bolder;
  font-size: 30px;
}
.cld3 {
  color: white;
  font-weight: bolder;
  font-size: 30px;
}
.cld4 {
  color: black;
  font-weight: bolder;
  font-size: 30px;
}
